@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

body{
  font-family: 'Nuosu SIL', serif;
  background-color: #353535;
}

header {
	background-color: #284B63;
	height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
	color: #fff;
  font-size: 40px;
}


.note-container{
  padding: 5px;
  margin: 0 auto 15px auto;
  background-color: #fff;
  color: #353535;
  display: flex;
}

.title-description-container{
  width: 90%;
  padding-right: 10px;
}

.note-title{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.note-description{
  font-size: 16px;
  margin-bottom: 5px;
}



button{
  height: 35px;
  width: 35px;
  align-self: center;
}

